<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Node File Uploads</title>
</head>

<body>
    <div class="container">
        <h1>File Upload</h1>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form action="/imgs" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name" value="" name="name" required>
            </div>
            <!-- <div>
                <label for="name">Item price</label>
                <input type="number" id="name" placeholder="Price" value="" name="name" required>
            </div> -->
            <div>
                <label for="desc">Image content</label>
                <textarea id="desc" name="pesc" value="" rows="2" placeholder="Description" required>
                </textarea>
            </div>
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <br>
        <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>